.chatmain
  .chatmain__header
    .chatmain__header__left
      .chatmain__header__left__group
        = @group.name
      .chatmain__header__left__member
        = @group.users.name
    = link_to edit_group_path(current_user) do
      .chatmain__header__edit
        .chatmain__header__edit__bottan
          Edit
  .chatmain__message
    = render @messages
  .chatmain__chat-bar
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__input-text', placeholder: 'type a message'
          = f.label :image, class: 'inputbox__image' do
            = icon('fas', 'image', class: 'input-box__image')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'