.side-main
  .side-main__header
    .side-main__header__box
      .side-main__header__box__username
        = current_user.name
      .side-main__header__box__icon
        = link_to new_group_path, class: "side-main__header__box__icon__btn" do
          = icon('fas', 'fas fa-edit', class: 'side-main__header__box__icon__btn')
        = link_to edit_user_path(current_user), class: "side-main__header__box__icon__btn" do
          = icon('fas', 'fas fa-cog', class: 'side-main__header__box__icon__btn')
  .side-main__groups
    - current_user.groups.each do |group|
      .side-main__groups__group
        = link_to group_messages_path(group), class:"side-main__groups__group__name" do
          %p.side-main__groups__group__name__btn
            = group.name
        = link_to group_messages_path(group), class:"side-main__groups__group__message" do
          %p.side-main__groups__group__message__btn
            = group.show_last_message
